{% extends 'base.html' %}
{% block base %}
	<header><title>Home</title></header>
	<div class="p-3 mb-2 bg-dark text-light">
		<body>
			<h1> 
				House Scraper
			</h1>
			<p class="text-white-50 text-start">
				Here, information about all houses currently for sale in a local area by local estate agents, is accumulated into a single easy to read webpage. This will allow us to see which houses are of interest to us. A like/dislike feature is added which will then be used to try and find other houses that we think we will like.
			</p>
			<form method='POST'>{% csrf_token %}
				{{form}} <br>
				<button type="submit" class="btn btn-primary my-5">Search</button>
			</form> 
			{% comment %} <a href="{% url 'scraper.listings' %}" class="btn btn-primary my-5">Search</a> {% endcomment %}
		</body>
	</div>
{% endblock %}
