.body-div {
	background-color: white;
}

/* Button formatting */
.btn-lg {
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	padding: 14px 24px
}
.round {
	border-radius: 24px;
}

.main-wrapper {
	height: 100vh;
}

h1 {
	color: white;
	text-align: center;
}