.body-div {
	background-color: #eadcdc;
}
.scnd-background {
	background-color: #785c59;
	box-shadow: 0 20px 5px rgba(0, 0, 0, 0.2);
}
.text-main {
	color: black;
}
/* Button formatting */
.btn-lg {
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	padding: 14px 24px
}
.round {
	border-radius: 24px;
}

.border {
	margin: 5px;
	width: 45%;
	border-width: 10px;
	border-color: #6e8573
}

.img-border {
	margin: auto;
	padding: 5px;
	border-width: 10px;
	border-radius: 8px;
}

.main-wrapper {
	height: 100vh;
}

h1 {
	color: white;
	text-align: center;
}